# Самостоятельная работа № 2 по курсу "Основы языка Python для аналитиков"

## Тема самостоятельной работы: Анализ датасета с помощью Pandas

### Задача № 3

Анализ рынка недвижимости:

Ответьте на несколько вопросов:

1 В каком диапазоне изменяются стоимости недвижимости?

2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

3 Как много домов с разными этажами в данных?

4 Насколько хорошие состояния у домов в данных?

5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('kc_house_data.csv')

In [4]:
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [6]:
df['price']

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [9]:
price_min = df['price'].min()

price_min

75000.0

In [10]:
price_max = df['price'].max()

price_max

7700000.0

In [11]:
print(f'Диапазон стоимости недвижимости изменяется от {price_min} до {price_max}')

Диапазон стоимости недвижимости изменяется от 75000.0 до 7700000.0

In [13]:
sqft_living_mean = df['sqft_living'].mean()

sqft_living_mean

2079.8997362698374

In [14]:
sqft_lot = df['sqft_lot'].mean()

sqft_lot

15106.967565816869

In [18]:
sqft_living_part = sqft_living_mean * 100 / sqft_lot

print(f'{sqft_living_part} % составляет в среднем жилая площадь от всей площади по всем домам')

13.76781757959227 % составляет в среднем жилая площадь от всей площади по всем домам

In [19]:
df['floors'].unique()

array([1. , 2. , 1.5, 3. , 2.5, 3.5])

In [25]:
floors1 = df[df['floors'] == 1]['id'].count()
floors2 = df[df['floors'] == 2]['id'].count()
floors1_5 =df[df['floors'] == 1.5]['id'].count()
floors3 =df[df['floors'] == 3]['id'].count()
floors2_5 =df[df['floors'] == 2.5]['id'].count()
floors3_5 =df[df['floors'] == 3.5]['id'].count()

sum_floors = floors1 + floors1_5 + floors2 + floors2_5 + floors3 + floors3_5

print(f'В данных представлены дома с 1 этажом - {floors1} шт, с 1,5 этажами - {floors1_5} шт, с 2 этажами - {floors2} шт, с 2,5 этажами - {floors2_5} шт, с 3 этажами - {floors3} шт и с 3,5 этажами - {floors3_5} шт')
print(f'Суммарное количество домов - {sum_floors}')

В данных представлены дома с 1 этажом - 10680 шт, с 1,5 этажами - 1910 шт, с 2 этажами - 8241 шт, с 2,5 этажами - 161 шт, с 3 этажами - 613 шт и с 3,5 этажами - 8 шт
Суммарное количество домов - 21613

In [34]:
condition_mean = df['condition'].mean()
condition_max = df['condition'].max()

print(f'Среднее состояние доманов в данных составляет {condition_mean} из {condition_max}')

Среднее состояние доманов в данных составляет 3.4094295100171195 из 5

In [32]:
df['condition'].describe()

count    21613.000000
mean         3.409430
std          0.650743
min          1.000000
25%          3.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: condition, dtype: float64

In [36]:
df['yr_built'].sort_values()

4697     1900
2961     1900
12369    1900
15016    1900
5236     1900
         ...
21270    2015
17098    2015
7526     2015
20086    2015
14489    2015
Name: yr_built, Length: 21613, dtype: int64

In [37]:
house_first = df['yr_built'].min()
house_last = df['yr_built'].max()

print(f'Первый дом был построен в {house_first} году, а последний дом - в {house_last} году')

Первый дом был построен в 1900 году, а последний дом - в 2015 году