# Материалы к семинару № 3

## Изменение таблиц в Pandas

### Задача № 1

1. Скачать данные по ссылке
https://www.kaggle.com/datasets/ionaskel/laptop-prices

2. Считать данные с помощью pandas

3. Вывести на экран первые 5 строк

1.1 Создать новый признак Cpu_Company, который будет
содержать только название фирмы, которая произвела CPU

(!) 1.2 Создать новый признак Memory_Amount, который будет
содержать только количество Gb памяти без указания типа
носителя

(!) 1.3 Создать новый признак Memory_Type, который будет
содержать только тип носителя (HDD/SDD/др.)

1.4 Удалите признаки Memory и ScreenResolution

In [154]:
import pandas as pd

In [155]:
df_laptop = pd.read_csv('laptop_price.csv', encoding='cp1251')

In [156]:
df_laptop.head(5)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [157]:
df_laptop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   object
 12  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB

In [158]:
df_laptop['Cpu'].unique()

array(['Intel Core i5 2.3GHz', 'Intel Core i5 1.8GHz',
       'Intel Core i5 7200U 2.5GHz', 'Intel Core i7 2.7GHz',
       'Intel Core i5 3.1GHz', 'AMD A9-Series 9420 3GHz',
       'Intel Core i7 2.2GHz', 'Intel Core i7 8550U 1.8GHz',
       'Intel Core i5 8250U 1.6GHz', 'Intel Core i3 6006U 2GHz',
       'Intel Core i7 2.8GHz', 'Intel Core M m3 1.2GHz',
       'Intel Core i7 7500U 2.7GHz', 'Intel Core i7 2.9GHz',
       'Intel Core i3 7100U 2.4GHz', 'Intel Atom x5-Z8350 1.44GHz',
       'Intel Core i5 7300HQ 2.5GHz', 'AMD E-Series E2-9000e 1.5GHz',
       'Intel Core i5 1.6GHz', 'Intel Core i7 8650U 1.9GHz',
       'Intel Atom x5-Z8300 1.44GHz', 'AMD E-Series E2-6110 1.5GHz',
       'AMD A6-Series 9220 2.5GHz',
       'Intel Celeron Dual Core N3350 1.1GHz',
       'Intel Core i3 7130U 2.7GHz', 'Intel Core i7 7700HQ 2.8GHz',
       'Intel Core i5 2.0GHz', 'AMD Ryzen 1700 3GHz',
       'Intel Pentium Quad Core N4200 1.1GHz',
       'Intel Atom x5-Z8550 1.44GHz',
       'Intel Celeron Dual Core N3060 1.6GHz', 'Intel Core i5 1.3GHz',
       'AMD FX 9830P 3GHz', 'Intel Core i7 7560U 2.4GHz',
       'AMD E-Series 6110 1.5GHz', 'Intel Core i5 6200U 2.3GHz',
       'Intel Core M 6Y75 1.2GHz', 'Intel Core i5 7500U 2.7GHz',
       'Intel Core i3 6006U 2.2GHz', 'AMD A6-Series 9220 2.9GHz',
       'Intel Core i7 6920HQ 2.9GHz', 'Intel Core i5 7Y54 1.2GHz',
       'Intel Core i7 7820HK 2.9GHz', 'Intel Xeon E3-1505M V6 3GHz',
       'Intel Core i7 6500U 2.5GHz', 'AMD E-Series 9000e 1.5GHz',
       'AMD A10-Series A10-9620P 2.5GHz', 'AMD A6-Series A6-9220 2.5GHz',
       'Intel Core i5 2.9GHz', 'Intel Core i7 6600U 2.6GHz',
       'Intel Core i3 6006U 2.0GHz',
       'Intel Celeron Dual Core 3205U 1.5GHz',
       'Intel Core i7 7820HQ 2.9GHz', 'AMD A10-Series 9600P 2.4GHz',
       'Intel Core i7 7600U 2.8GHz', 'AMD A8-Series 7410 2.2GHz',
       'Intel Celeron Dual Core 3855U 1.6GHz',
       'Intel Pentium Quad Core N3710 1.6GHz',
       'AMD A12-Series 9720P 2.7GHz', 'Intel Core i5 7300U 2.6GHz',
       'AMD A12-Series 9720P 3.6GHz',
       'Intel Celeron Quad Core N3450 1.1GHz',
       'Intel Celeron Dual Core N3060 1.60GHz',
       'Intel Core i5 6440HQ 2.6GHz', 'Intel Core i7 6820HQ 2.7GHz',
       'AMD Ryzen 1600 3.2GHz', 'Intel Core i7 7Y75 1.3GHz',
       'Intel Core i5 7440HQ 2.8GHz', 'Intel Core i7 7660U 2.5GHz',
       'Intel Core i7 7700HQ 2.7GHz', 'Intel Core M m3-7Y30 2.2GHz',
       'Intel Core i5 7Y57 1.2GHz', 'Intel Core i7 6700HQ 2.6GHz',
       'Intel Core i3 6100U 2.3GHz', 'AMD A10-Series 9620P 2.5GHz',
       'AMD E-Series 7110 1.8GHz', 'Intel Celeron Dual Core N3350 2.0GHz',
       'AMD A9-Series A9-9420 3GHz', 'Intel Core i7 6820HK 2.7GHz',
       'Intel Core M 7Y30 1.0GHz', 'Intel Xeon E3-1535M v6 3.1GHz',
       'Intel Celeron Quad Core N3160 1.6GHz',
       'Intel Core i5 6300U 2.4GHz', 'Intel Core i3 6100U 2.1GHz',
       'AMD E-Series E2-9000 2.2GHz',
       'Intel Celeron Dual Core N3050 1.6GHz',
       'Intel Core M M3-6Y30 0.9GHz', 'AMD A9-Series 9420 2.9GHz',
       'Intel Core i5 6300HQ 2.3GHz', 'AMD A6-Series 7310 2GHz',
       'Intel Atom Z8350 1.92GHz', 'Intel Xeon E3-1535M v5 2.9GHz',
       'Intel Core i5 6260U 1.8GHz',
       'Intel Pentium Dual Core N4200 1.1GHz',
       'Intel Celeron Quad Core N3710 1.6GHz', 'Intel Core M 1.2GHz',
       'AMD A12-Series 9700P 2.5GHz', 'Intel Core i7 7500U 2.5GHz',
       'Intel Pentium Dual Core 4405U 2.1GHz',
       'AMD A4-Series 7210 2.2GHz', 'Intel Core i7 6560U 2.2GHz',
       'Intel Core M m7-6Y75 1.2GHz', 'AMD FX 8800P 2.1GHz',
       'Intel Core M M7-6Y75 1.2GHz', 'Intel Core i5 7200U 2.50GHz',
       'Intel Core i5 7200U 2.70GHz', 'Intel Atom X5-Z8350 1.44GHz',
       'Intel Core i5 7200U 2.7GHz', 'Intel Core M 1.1GHz',
       'Intel Pentium Dual Core 4405Y 1.5GHz',
       'Intel Pentium Quad Core N3700 1.6GHz', 'Intel Core M 6Y54 1.1GHz',
       'Intel Core i7 6500U 2.50GHz',
       'Intel Celeron Dual Core N3350 2GHz',
       'Samsung Cortex A72&A53 2.0GHz', 'AMD E-Series 9000 2.2GHz',
       'Intel Core M 6Y30 0.9GHz', 'AMD A9-Series 9410 2.9GHz'],
      dtype=object)

In [159]:
str1 = 'Intel Core i5 2.3GHz'

str1.split()[0]

'Intel'

In [160]:
def split_str(list_str):
    a = list_str.split()[0]
    return a

split_str(str1)

'Intel'

In [161]:
df_laptop['Cpu_Company'] = df_laptop['Cpu'].apply(split_str)

df_laptop

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00,Intel
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00,Intel
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00,Intel
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00,Intel
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00,Intel

In [162]:
df_laptop[['Cpu', 'Cpu_Company']]

                                       Cpu Cpu_Company
0                     Intel Core i5 2.3GHz       Intel
1                     Intel Core i5 1.8GHz       Intel
2               Intel Core i5 7200U 2.5GHz       Intel
3                     Intel Core i7 2.7GHz       Intel
4                     Intel Core i5 3.1GHz       Intel
...                                    ...         ...
1298            Intel Core i7 6500U 2.5GHz       Intel
1299            Intel Core i7 6500U 2.5GHz       Intel
1300  Intel Celeron Dual Core N3050 1.6GHz       Intel
1301            Intel Core i7 6500U 2.5GHz       Intel
1302  Intel Celeron Dual Core N3050 1.6GHz       Intel

[1303 rows x 2 columns]

In [163]:
df_laptop.head(3)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel

In [164]:
df_laptop['Cpu_Company'].value_counts()

Cpu_Company
Intel      1240
AMD          62
Samsung       1
Name: count, dtype: int64

In [165]:
df_laptop['Cpu_Company'].unique()

array(['Intel', 'AMD', 'Samsung'], dtype=object)

In [166]:
df_laptop['Memory'].value_counts()

Memory
256GB SSD                        412
1TB HDD                          223
500GB HDD                        132
512GB SSD                        118
128GB SSD +  1TB HDD              94
128GB SSD                         76
256GB SSD +  1TB HDD              73
32GB Flash Storage                38
2TB HDD                           16
64GB Flash Storage                15
512GB SSD +  1TB HDD              14
1TB SSD                           14
256GB SSD +  2TB HDD              10
1.0TB Hybrid                       9
256GB Flash Storage                8
16GB Flash Storage                 7
32GB SSD                           6
180GB SSD                          5
128GB Flash Storage                4
512GB SSD +  2TB HDD               3
16GB SSD                           3
512GB Flash Storage                2
1TB SSD +  1TB HDD                 2
256GB SSD +  500GB HDD             2
128GB SSD +  2TB HDD               2
256GB SSD +  256GB SSD             2
512GB SSD +  256GB SSD             1
512GB SSD +  512GB SSD             1
64GB Flash Storage +  1TB HDD      1
1TB HDD +  1TB HDD                 1
32GB HDD                           1
64GB SSD                           1
128GB HDD                          1
240GB SSD                          1
8GB SSD                            1
508GB Hybrid                       1
1.0TB HDD                          1
512GB SSD +  1.0TB Hybrid          1
256GB SSD +  1.0TB Hybrid          1
Name: count, dtype: int64

In [167]:
def sum_memory(list_str):
    b = int(float(list_str.split()[0][0:-2]))
    return b

str2 = '256GB SSD +  1.0TB Hybrid '
str3 = '180GB SSD '

sum_memory(str2)

256

In [168]:
df_laptop['Memory_Amoun'] = df_laptop['Memory'].apply(sum_memory)

df_laptop

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amoun
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00,Intel,128
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00,Intel,512
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00,Intel,64
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00,Intel,1
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00,Intel,500

In [169]:
df_laptop['Memory'].value_counts()

Memory
256GB SSD                        412
1TB HDD                          223
500GB HDD                        132
512GB SSD                        118
128GB SSD +  1TB HDD              94
128GB SSD                         76
256GB SSD +  1TB HDD              73
32GB Flash Storage                38
2TB HDD                           16
64GB Flash Storage                15
512GB SSD +  1TB HDD              14
1TB SSD                           14
256GB SSD +  2TB HDD              10
1.0TB Hybrid                       9
256GB Flash Storage                8
16GB Flash Storage                 7
32GB SSD                           6
180GB SSD                          5
128GB Flash Storage                4
512GB SSD +  2TB HDD               3
16GB SSD                           3
512GB Flash Storage                2
1TB SSD +  1TB HDD                 2
256GB SSD +  500GB HDD             2
128GB SSD +  2TB HDD               2
256GB SSD +  256GB SSD             2
512GB SSD +  256GB SSD             1
512GB SSD +  512GB SSD             1
64GB Flash Storage +  1TB HDD      1
1TB HDD +  1TB HDD                 1
32GB HDD                           1
64GB SSD                           1
128GB HDD                          1
240GB SSD                          1
8GB SSD                            1
508GB Hybrid                       1
1.0TB HDD                          1
512GB SSD +  1.0TB Hybrid          1
256GB SSD +  1.0TB Hybrid          1
Name: count, dtype: int64

In [170]:
def object_memory(list_str):
    c = list_str.split()[1]
    return c

str2 = '256GB SSD +  1.0TB Hybrid'
str3 = '180GB SSD'
str4 = '512GB Flash Storage'

object_memory(str4)

'Flash'

In [171]:
df_laptop['Memory_Type'] = df_laptop['Memory'].apply(object_memory)

df_laptop.head(5)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amoun,Memory_Type
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD

1.4 Удалите признаки Memory и ScreenResolution

In [172]:
df_laptop.drop(columns=['Memory', 'ScreenResolution'], inplace=True)

df_laptop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   laptop_ID     1303 non-null   int64
 1   Company       1303 non-null   object
 2   Product       1303 non-null   object
 3   TypeName      1303 non-null   object
 4   Inches        1303 non-null   float64
 5   Cpu           1303 non-null   object
 6   Ram           1303 non-null   object
 7   Gpu           1303 non-null   object
 8   OpSys         1303 non-null   object
 9   Weight        1303 non-null   object
 10  Price_euros   1303 non-null   float64
 11  Cpu_Company   1303 non-null   object
 12  Memory_Amoun  1303 non-null   int64
 13  Memory_Type   1303 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 142.6+ KB

### Задача № 2

2.1 Создайте признак SSD, который изначально равен 0

2.2 Поставьте в признаке SSD 1, если ноутбук действительно с типом носителя SSD

2.3 Уберите в признаке Weight значения 'kg' и поменяйте его тип данных на вещественный

In [173]:
df_laptop['SSD'] = 0

df_laptop.head(3)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amoun,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD,0
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash,0
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD,0

In [174]:
df_laptop.loc[df_laptop['Memory_Type'] == 'SSD', 'SSD'] = 1

df_laptop.head(6)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amoun,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD,1
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash,0
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD,1
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD,1
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD,1
5,6,Acer,Aspire 3,Notebook,15.6,AMD A9-Series 9420 3GHz,4GB,AMD Radeon R5,Windows 10,2.1kg,400.00,AMD,500,HDD,0

In [175]:
df_laptop['Weight'].unique()

array(['1.37kg', '1.34kg', '1.86kg', '1.83kg', '2.1kg', '2.04kg', '1.3kg',
       '1.6kg', '2.2kg', '0.92kg', '1.22kg', '0.98kg', '2.5kg', '1.62kg',
       '1.91kg', '2.3kg', '1.35kg', '1.88kg', '1.89kg', '1.65kg',
       '2.71kg', '1.2kg', '1.44kg', '2.8kg', '2kg', '2.65kg', '2.77kg',
       '3.2kg', '0.69kg', '1.49kg', '2.4kg', '2.13kg', '2.43kg', '1.7kg',
       '1.4kg', '1.8kg', '1.9kg', '3kg', '1.252kg', '2.7kg', '2.02kg',
       '1.63kg', '1.96kg', '1.21kg', '2.45kg', '1.25kg', '1.5kg',
       '2.62kg', '1.38kg', '1.58kg', '1.85kg', '1.23kg', '1.26kg',
       '2.16kg', '2.36kg', '2.05kg', '1.32kg', '1.75kg', '0.97kg',
       '2.9kg', '2.56kg', '1.48kg', '1.74kg', '1.1kg', '1.56kg', '2.03kg',
       '1.05kg', '4.4kg', '1.90kg', '1.29kg', '2.0kg', '1.95kg', '2.06kg',
       '1.12kg', '1.42kg', '3.49kg', '3.35kg', '2.23kg', '4.42kg',
       '2.69kg', '2.37kg', '4.7kg', '3.6kg', '2.08kg', '4.3kg', '1.68kg',
       '1.41kg', '4.14kg', '2.18kg', '2.24kg', '2.67kg', '2.14kg',
       '1.36kg', '2.25kg', '2.15kg', '2.19kg', '2.54kg', '3.42kg',
       '1.28kg', '2.33kg', '1.45kg', '2.79kg', '1.84kg', '2.6kg',
       '2.26kg', '3.25kg', '1.59kg', '1.13kg', '1.78kg', '1.10kg',
       '1.15kg', '1.27kg', '1.43kg', '2.31kg', '1.16kg', '1.64kg',
       '2.17kg', '1.47kg', '3.78kg', '1.79kg', '0.91kg', '1.99kg',
       '4.33kg', '1.93kg', '1.87kg', '2.63kg', '3.4kg', '3.14kg',
       '1.94kg', '1.24kg', '4.6kg', '4.5kg', '2.73kg', '1.39kg', '2.29kg',
       '2.59kg', '2.94kg', '1.14kg', '3.8kg', '3.31kg', '1.09kg',
       '3.21kg', '1.19kg', '1.98kg', '1.17kg', '4.36kg', '1.71kg',
       '2.32kg', '4.2kg', '1.55kg', '0.81kg', '1.18kg', '2.72kg',
       '1.31kg', '0.920kg', '3.74kg', '1.76kg', '1.54kg', '2.83kg',
       '2.07kg', '2.38kg', '3.58kg', '1.08kg', '2.20kg', '2.75kg',
       '1.70kg', '2.99kg', '1.11kg', '2.09kg', '4kg', '3.0kg', '0.99kg',
       '3.52kg', '2.591kg', '2.21kg', '3.3kg', '2.191kg', '2.34kg',
       '4.0kg'], dtype=object)

In [176]:
def only_int(str_without_int):
    only_int = float(str_without_int[:-2])
    return only_int

str5 = '4.33kg'
str6 = '4kg'

only_int(str6)

4.0

In [197]:
df_laptop['Weight'] = df_laptop['Weight'].apply(only_int)

df_laptop

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amoun,Memory_Type,SSD,Weight_int
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128,SSD,1,1.37
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34,898.94,Intel,128,Flash,0,1.34
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86,575.00,Intel,256,SSD,1,1.86
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83,2537.45,Intel,512,SSD,1,1.83
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37,1803.60,Intel,256,SSD,1,1.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,Intel Core i7 6500U 2.5GHz,4GB,Intel HD Graphics 520,Windows 10,1.80,638.00,Intel,128,SSD,1,1.80
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,Intel Core i7 6500U 2.5GHz,16GB,Intel HD Graphics 520,Windows 10,1.30,1499.00,Intel,512,SSD,1,1.30
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,Intel Celeron Dual Core N3050 1.6GHz,2GB,Intel HD Graphics,Windows 10,1.50,229.00,Intel,64,Flash,0,1.50
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,Intel Core i7 6500U 2.5GHz,6GB,AMD Radeon R5 M330,Windows 10,2.19,764.00,Intel,1,HDD,0,2.19
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,Intel Celeron Dual Core N3050 1.6GHz,4GB,Intel HD Graphics,Windows 10,2.20,369.00,Intel,500,HDD,0,2.20

In [198]:
df_laptop.drop(columns=['Weight_int'], inplace=True)

In [199]:
df_laptop.head(3)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amoun,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128,SSD,1
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34,898.94,Intel,128,Flash,0
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86,575.00,Intel,256,SSD,1

### Задача № 3

Создайте датафрейм с клиентами:
clients = pd.DataFrame({
 'client_id': [45, 32, 67, 33, 43],
 'laptop_id': [506, 398, 710, 120, 1999]
})
laptop_id - это индексы датафрейма с ноутбуками

3.1 Присоедините к таблице clients данные по ноутбукам через метод join

3.2 Присоедините к таблице clients данные по ноутбукам через метод merge

Это нужно, чтобы понимать, какие ноутбуки покупались клиентами

In [177]:
clients = pd.DataFrame({'client_id': [45, 32, 67, 33, 43],'laptop_id': [506, 398, 710, 120, 1999]})

clients.head()

   client_id  laptop_id
0         45        506
1         32        398
2         67        710
3         33        120
4         43       1999

In [178]:
clients_id = clients.set_index('laptop_id')

In [179]:
clients_id.join(df_laptop)

,client_id,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amoun,Memory_Type,SSD
laptop_id,,,,,,,,,,,,,,,,
506,45,513.0,Asus,ZenBook UX510UX-CN211T,Notebook,15.6,Intel Core i7 7500U 2.7GHz,8GB,Intel HD Graphics 620,Windows 10,2kg,1224.0,Intel,256.0,SSD,1.0
398,32,405.0,Dell,Precision M5520,Workstation,15.6,Intel Core i7 7700HQ 2.8GHz,8GB,Nvidia Quadro M1200,Windows 10,1.78kg,2712.0,Intel,256.0,SSD,1.0
710,67,718.0,Lenovo,Legion Y520-15IKBN,Gaming,15.6,Intel Core i7 7700HQ 2.8GHz,8GB,Nvidia GeForce GTX 1050 Ti,Windows 10,2.5kg,1249.0,Intel,128.0,SSD,1.0
120,33,123.0,Acer,Spin 3,Notebook,15.6,Intel Core i3 7100U 2.4GHz,6GB,Intel HD Graphics 620,Windows 10,2.1kg,479.0,Intel,1.0,HDD,0.0
1999,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
df_laptop.iloc[506]

laptop_ID                              513
Company                               Asus
Product             ZenBook UX510UX-CN211T
TypeName                          Notebook
Inches                                15.6
Cpu             Intel Core i7 7500U 2.7GHz
Ram                                    8GB
Gpu                  Intel HD Graphics 620
OpSys                           Windows 10
Weight                                 2kg
Price_euros                         1224.0
Cpu_Company                          Intel
Memory_Amoun                           256
Memory_Type                            SSD
SSD                                      1
Name: 506, dtype: object

In [181]:
merged = clients.merge(df_laptop, left_on='laptop_id', right_on=df_laptop.index, how='left')

merged.head(6)

,client_id,laptop_id,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amoun,Memory_Type,SSD
0,45,506,513.0,Asus,ZenBook UX510UX-CN211T,Notebook,15.6,Intel Core i7 7500U 2.7GHz,8GB,Intel HD Graphics 620,Windows 10,2kg,1224.0,Intel,256.0,SSD,1.0
1,32,398,405.0,Dell,Precision M5520,Workstation,15.6,Intel Core i7 7700HQ 2.8GHz,8GB,Nvidia Quadro M1200,Windows 10,1.78kg,2712.0,Intel,256.0,SSD,1.0
2,67,710,718.0,Lenovo,Legion Y520-15IKBN,Gaming,15.6,Intel Core i7 7700HQ 2.8GHz,8GB,Nvidia GeForce GTX 1050 Ti,Windows 10,2.5kg,1249.0,Intel,128.0,SSD,1.0
3,33,120,123.0,Acer,Spin 3,Notebook,15.6,Intel Core i3 7100U 2.4GHz,6GB,Intel HD Graphics 620,Windows 10,2.1kg,479.0,Intel,1.0,HDD,0.0
4,43,1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Задача № 4

Составьте несколько сводных таблиц

4.1 Найдите среднюю стоимость ноутбуков в зависимости от компании производителя. Отсортируйте от меньшей стоимости к большей

4.2 Найдите минимальную, среднюю и максимальную стоимости ноутбуков в зависимости от производителя процессора

4.3 Постройте таблицу с подсчетом количества ноутбуков в данных в зависимости от производителя CPU и ОЗУ

4.4 Постройте таблицу с подсчетом средней стоимости ноутбуков в данных в зависимости от операционной системы и GB памяти

In [182]:
df_laptop.pivot_table(index='Company', values='Price_euros', aggfunc='mean').sort_values('Price_euros')

           Price_euros
Company
Vero        217.425000
Mediacom    295.000000
Chuwi       314.296667
Acer        626.775825
Fujitsu     729.000000
HP         1067.774854
Lenovo     1086.384444
Asus       1104.169367
Xiaomi     1133.462500
Dell       1186.068990
Toshiba    1267.812500
Samsung    1413.444444
Huawei     1424.000000
Apple      1564.198571
Microsoft  1612.308333
Google     1677.666667
MSI        1728.908148
LG         2099.000000
Razer      3346.142857

In [183]:
df_laptop.pivot_table(index='Company', values='Price_euros', aggfunc=['min', 'max', 'mean'])

                  min         max         mean
          Price_euros Price_euros  Price_euros
Company
Acer           174.00     2599.00   626.775825
Apple          898.94     2858.00  1564.198571
Asus           191.90     3975.00  1104.169367
Chuwi          244.99      449.00   314.296667
Dell           274.90     3659.40  1186.068990
Fujitsu        649.00      799.00   729.000000
Google        1275.00     2199.00  1677.666667
HP             209.00     4389.00  1067.774854
Huawei        1349.00     1499.00  1424.000000
LG            1899.00     2299.00  2099.000000
Lenovo         229.00     4899.00  1086.384444
MSI            839.00     2799.00  1728.908148
Mediacom       239.00      389.00   295.000000
Microsoft      989.00     2589.00  1612.308333
Razer         1029.00     6099.00  3346.142857
Samsung        269.00     1849.00  1413.444444
Toshiba        447.00     2799.00  1267.812500
Vero           196.00      260.00   217.425000
Xiaomi         935.00     1399.95  1133.462500

In [184]:
df_laptop.pivot_table(index='Cpu_Company', values='Price_euros', aggfunc=['min', 'mean', 'max'])

                    min         mean         max
            Price_euros  Price_euros Price_euros
Cpu_Company
AMD               199.0   560.638871      2199.0
Intel             174.0  1152.214145      6099.0
Samsung           659.0   659.000000       659.0

In [185]:
df_laptop.groupby('Cpu_Company').agg({'Price_euros': ['min', 'mean', 'max']})

            Price_euros
                    min         mean     max
Cpu_Company
AMD               199.0   560.638871  2199.0
Intel             174.0  1152.214145  6099.0
Samsung           659.0   659.000000   659.0

In [186]:
pd.crosstab(index=df_laptop['Cpu_Company'], columns=df_laptop['Memory_Amoun'], values=df_laptop['laptop_ID'], aggfunc='count')

Memory_Amoun,1,2,8,16,32,64,128,180,240,256,500,508,512
Cpu_Company,,,,,,,,,,,,,
AMD,17.0,4.0,NaN,NaN,1.0,1.0,8.0,NaN,NaN,16.0,13.0,NaN,2.0
Intel,233.0,12.0,1.0,10.0,43.0,16.0,169.0,5.0,1.0,492.0,119.0,1.0,138.0
Samsung,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [187]:
# Проверка:

df_laptop[(df_laptop['Memory_Amoun'] == 512) & (df_laptop['Cpu_Company'] == 'Intel')].count()

laptop_ID       138
Company         138
Product         138
TypeName        138
Inches          138
Cpu             138
Ram             138
Gpu             138
OpSys           138
Weight          138
Price_euros     138
Cpu_Company     138
Memory_Amoun    138
Memory_Type     138
SSD             138
dtype: int64

In [188]:
pd.crosstab(index=df_laptop['OpSys'], columns=df_laptop['Ram'], values=df_laptop['Price_euros'], aggfunc='mean')

Ram,12GB,16GB,24GB,2GB,32GB,4GB,64GB,6GB,8GB
OpSys,,,,,,,,,
Android,NaN,NaN,NaN,NaN,NaN,434.000000,NaN,NaN,NaN
Chrome OS,NaN,2199.000000,NaN,234.333333,NaN,397.726316,NaN,NaN,1122.000000
Linux,949.000000,974.000000,NaN,NaN,NaN,417.705625,NaN,NaN,814.618148
Mac OS X,NaN,2139.970000,NaN,NaN,NaN,959.000000,NaN,NaN,1167.333333
No OS,NaN,1265.316667,NaN,NaN,NaN,393.980625,NaN,NaN,722.674516
Windows 10,1205.998261,1916.548315,2206.333333,257.534211,3413.085882,604.317509,3975.0,615.206341,1190.119217
Windows 10 S,NaN,2589.000000,NaN,NaN,NaN,673.997500,NaN,NaN,1668.950000
Windows 7,2299.000000,2840.400000,NaN,NaN,NaN,1036.020833,NaN,NaN,1739.483704
macOS,NaN,2611.806667,NaN,NaN,NaN,NaN,NaN,NaN,1490.978000

In [189]:
# Проверка:

df_laptop[(df_laptop['OpSys'] == 'Mac OS X') & (df_laptop['Ram'] == '4GB')]['Price_euros'].mean()

959.0

### Задача № 5

Ответьте на несколько вопросов:

5.1 Ноутбуков каких компаний и с каким процессором больше?

5.2 С каким типом памяти и с каким объемом памяти больше ноутбуков?

In [190]:
pd.crosstab(index=df_laptop['Company'], columns=df_laptop['Cpu_Company']).sort_values('Intel')

Cpu_Company  AMD  Intel  Samsung
Company
Huawei         0      2        0
LG             0      3        0
Chuwi          0      3        0
Google         0      3        0
Fujitsu        0      3        0
Vero           0      4        0
Xiaomi         0      4        0
Microsoft      0      6        0
Mediacom       0      7        0
Razer          0      7        0
Samsung        0      8        1
Apple          0     21        0
Toshiba        0     48        0
MSI            0     54        0
Acer          10     93        0
Asus          11    147        0
HP            25    249        0
Lenovo        16    281        0
Dell           0    297        0

In [191]:
pd.crosstab(index=df_laptop['Company'], columns=df_laptop['Cpu_Company'], normalize='all')

Cpu_Company       AMD     Intel   Samsung
Company
Acer         0.007675  0.071374  0.000000
Apple        0.000000  0.016117  0.000000
Asus         0.008442  0.112817  0.000000
Chuwi        0.000000  0.002302  0.000000
Dell         0.000000  0.227936  0.000000
Fujitsu      0.000000  0.002302  0.000000
Google       0.000000  0.002302  0.000000
HP           0.019186  0.191097  0.000000
Huawei       0.000000  0.001535  0.000000
LG           0.000000  0.002302  0.000000
Lenovo       0.012279  0.215656  0.000000
MSI          0.000000  0.041443  0.000000
Mediacom     0.000000  0.005372  0.000000
Microsoft    0.000000  0.004605  0.000000
Razer        0.000000  0.005372  0.000000
Samsung      0.000000  0.006140  0.000767
Toshiba      0.000000  0.036838  0.000000
Vero         0.000000  0.003070  0.000000
Xiaomi       0.000000  0.003070  0.000000

In [192]:
pd.crosstab(index=df_laptop['Company'], columns=df_laptop['Cpu_Company'], normalize='index')

Cpu_Company       AMD     Intel   Samsung
Company
Acer         0.097087  0.902913  0.000000
Apple        0.000000  1.000000  0.000000
Asus         0.069620  0.930380  0.000000
Chuwi        0.000000  1.000000  0.000000
Dell         0.000000  1.000000  0.000000
Fujitsu      0.000000  1.000000  0.000000
Google       0.000000  1.000000  0.000000
HP           0.091241  0.908759  0.000000
Huawei       0.000000  1.000000  0.000000
LG           0.000000  1.000000  0.000000
Lenovo       0.053872  0.946128  0.000000
MSI          0.000000  1.000000  0.000000
Mediacom     0.000000  1.000000  0.000000
Microsoft    0.000000  1.000000  0.000000
Razer        0.000000  1.000000  0.000000
Samsung      0.000000  0.888889  0.111111
Toshiba      0.000000  1.000000  0.000000
Vero         0.000000  1.000000  0.000000
Xiaomi       0.000000  1.000000  0.000000

In [193]:
pd.crosstab(index=df_laptop['Company'], columns=df_laptop['Cpu_Company'], normalize='columns')

Cpu_Company       AMD     Intel  Samsung
Company
Acer         0.161290  0.075000      0.0
Apple        0.000000  0.016935      0.0
Asus         0.177419  0.118548      0.0
Chuwi        0.000000  0.002419      0.0
Dell         0.000000  0.239516      0.0
Fujitsu      0.000000  0.002419      0.0
Google       0.000000  0.002419      0.0
HP           0.403226  0.200806      0.0
Huawei       0.000000  0.001613      0.0
LG           0.000000  0.002419      0.0
Lenovo       0.258065  0.226613      0.0
MSI          0.000000  0.043548      0.0
Mediacom     0.000000  0.005645      0.0
Microsoft    0.000000  0.004839      0.0
Razer        0.000000  0.005645      0.0
Samsung      0.000000  0.006452      1.0
Toshiba      0.000000  0.038710      0.0
Vero         0.000000  0.003226      0.0
Xiaomi       0.000000  0.003226      0.0

Вывод: анализ показал, что наибольшее количество ноутбуков компании Dell и процессором Intel

In [194]:
pd.crosstab(index=df_laptop['Memory_Type'], columns=df_laptop['Ram']).sort_values('8GB')

Ram          12GB  16GB  24GB  2GB  32GB  4GB  64GB  6GB  8GB
Memory_Type
Hybrid          0     1     0    0     0    2     0    3    4
Flash           0     1     0   17     0   43     0    1   13
HDD            12     5     0    3     0  210     0   21  124
SSD            13   193     3    2    17  120     1   16  478

Вывод: анализ показал, что наибольшее количество ноутбуков с типом памяти - SSD и объемом памяти - 8 GB