# Самостоятельная работа № 2 по курсу "Основы языка Python для аналитиков"

## Тема самостоятельной работы: Анализ датасета с помощью Pandas

### Задача № 4

Анализ рынка недвижимости - 2:

Сколько в среднем стоят дома, у которых 2 спальни?

Какая в среднем общая площадь домов(sqft_lot), у которых стоимость больше 600000?

Как много домов коснулся ремонт? Как много домов не было отремонтировано? Используйте поле yr_renovated. Подсчитайте процентное отношение этих величин.

Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [54]:
import pandas as pd

In [55]:
df = pd.read_csv('kc_house_data.csv')

In [56]:
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [58]:
price_2_mean = df[df['bedrooms'] == 2]['price'].mean()

print(f'Средняя стоимость дома с двумя спальнями составляет {price_2_mean}')

Средняя стоимость дома с двумя спальнями составляет 401372.681884058

In [59]:
sqft_lot_price_mean_600000 = df[df['price'] > 600000]['sqft_lot'].mean()

print(f'Средняя общая площадь домов(sqft_lot), у которых стоимость больше 600000 составляет {sqft_lot_price_mean_600000}')

Средняя общая площадь домов(sqft_lot), у которых стоимость больше 600000 составляет 20442.524776214832

In [60]:
df[df['price'] > 600000]['sqft_lot'].describe()

count    6.256000e+03
mean     2.044252e+04
std      5.732293e+04
min      5.200000e+02
25%      5.200000e+03
50%      8.400000e+03
75%      1.380125e+04
max      1.651359e+06
Name: sqft_lot, dtype: float64

In [61]:
df['yr_renovated'].unique()

array([   0, 1991, 2002, 2010, 1999, 1992, 2013, 1994, 1978, 2005, 2008,
       2003, 1984, 1954, 2014, 2011, 1974, 1983, 1945, 1990, 1988, 1957,
       1977, 1981, 1995, 2000, 1998, 1970, 1989, 2004, 1986, 2009, 2007,
       1987, 1973, 2006, 1985, 2001, 1980, 1971, 1979, 1997, 1950, 1969,
       1948, 2015, 1968, 2012, 1963, 1951, 1993, 1962, 1996, 1972, 1953,
       1955, 1982, 1956, 1940, 1976, 1946, 1975, 1958, 1964, 1959, 1960,
       1967, 1965, 1934, 1944])

In [62]:
house_old = df[df['yr_renovated'] == 0]['id'].count()

print(f'Неотремонтированных домов в данных представлено {house_old} шт')

Неотремонтированных домов в данных представлено 20699 шт

In [63]:
all_house = df['yr_renovated'].count()

print(f'Всего домов в данных представлено {all_house} шт')

Всего домов в данных представлено 21613 шт

In [64]:
renovated_house = all_house - house_old

print(f'Отремонтированных домов в данных представлено {renovated_house} шт')

Отремонтированных домов в данных представлено 914 шт

In [65]:
df['grade'].unique()

array([ 7,  6,  8, 11,  9,  5, 10, 12,  4,  3, 13,  1])

In [66]:
price_grade_10 = df[df['grade'] > 10]['price'].mean()

price_grade_10

1678635.1175298805

In [67]:
price_grade_4 = df[df['grade'] < 4]['price'].mean()

price_grade_4

189750.0

In [68]:
price_grade_10_4 = price_grade_10 - price_grade_4

print(f'На {price_grade_10_4} в среднем стоимость домов с оценкой grade выше 10 отличается от стоимости домов с оценкой grade меньше 4')

На 1488885.1175298805 в среднем стоимость домов с оценкой grade выше 10 отличается от стоимости домов с оценкой grade меньше 4